.content{padding: 0 10px;}
.box {
border: 1px solid #ddd8ce;
border-radius:5px;
overflow: hidden;
background-color: @box_color;
margin: 10px 0;
line-height: 30px;
padding-left: 10px;
}
.content .all_city_title{
	margin-top: 15px;
    margin-bottom: 10px;
}
.letter{
  border: 1px solid @border_main;
  border-radius:5px;
  overflow: hidden;
  background-color: @box_color;
  margin-top:10px;
}
.letter_index{
	margin-bottom:20px;
}
.letter ul li {
  display: inline-block;
  width: 20%;
  height: 40px;
  text-align: center;
  line-height:40px;
  font-size:14px;
  float: left;
}
.letter ul li a{
  display: block;
  color: @main_color;
  height: 100%;
}
.city_table{
	min-height:40px;	
	overflow: hidden;	
	border: 1px solid @border_main;
	border-left:none;
	border-right:none;
	background-color:@box_color;
	margin-bottom:10px;
}
.city_table li {
	width: 20%;
	font-size: 14px;
	text-align: center;
	border-bottom: 1px solid @border_main;
	margin-bottom: -1px;		
	color: @main_color;	
}














