.buy{
	padding:8px  10px;
}


.set_meal .meal{
	line-height:22px;
	height:22px;
	width:52px;
	border:1px solid #ff6609;
	border-radius: 3px;
	padding:0 1px;
	font-size:12px;
	color:#ff6609;
	display:inline-block;
	text-align:center;
}

.set_meal .set{
	padding:7px 0 8px 11px;
}

.set_meal{
	padding:8px 0 7px 0;
	border-bottom:1px solid #f5f5f5;
}

.evaluate{
	margin:0 10px;
	height:49px;
	display:-moz-box;
    display:-webkit-box;
    display:box;
	width: 100%;
}

.evaluate .grade {
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   padding-top: 15px;
}
.grade b{ color:@main_color;}

.evaluate_num{
	text-align:right;
	display: inline-block;
	font-size:12px;
	color:#a3a3a3;
	line-height:49px;
}



.evaluate_num span{
	padding:0 7px;
}




.good_pic .cover{
	height:28px;
	background:black;
	line-height:28px;
	text-align:center;
	color:#fff;
	filter: alpha(opacity=50);
    opacity: 0.5;
	position:absolute;
	bottom:0;
	width:100%;
}

.good_pic{
	position:relative;
}


.goods_abbr{
	background:@box_color;
    border-bottom: 1px solid @border_main;
}




.goods_price{
	display:-moz-box;
    display:-webkit-box;
    display:box;
	width:100%;
	padding:14px 0px;
	
	border-bottom: 1px solid @border_main;
}

.goods_price .plank{
	width:130px;
	margin-right:10px;
}

.goods_price .price{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	margin-left:10px;
}

.goods_price .price b{
	color:@font_style;
	font-size:23px;
}

.goods_price .price del{
	color:#838383;
	font-size:12px;
}




.barter{
	 display:-webkit-box;
	display:-moz-box;   
    display:box;
	width:100%;
	padding:5px;
}
.barter i.iconfont{ color:@main_color; font-size:16px;}


.share{
	padding:10px;
	-webkit-box-flex:1;
	/*-moz-box-flex:1;*/
	
}


.share a{
	display:inline-block;
	color:@font_style;
	border:1px solid @main_color;
	border-radius:6px;
	width:100%;
	text-align:center;
	height:28px; line-height:28px;
}
.share a.bshare-more{
	display:inline-block;
	color:@font_style;
	border:1px solid @main_color;
	border-radius:6px;
	width:100%;
	text-align:center;
	height:28px; line-height:28px;
	text-decoration:none;
}
.share a.bshare-more i{
	color:@font_style;
}
.share a.bshare-more:hover{
	text-decoration:none;
}

.share a span{
	padding:0 5px;
	color:@font_style;
}

.set ul{
	display:inline-block;
}
.set_meal .cur{
	line-height:22px;
	height:22px;
	width:52px;
	border:1px solid #ff6609;
	border-radius: 3px;
	padding:0 1px;
	font-size:12px;
	color:#fff;
	display:inline-block;
	text-align:center;
	background:#ff6609;
}







.deal_info{ padding:5px;}
.deal_info h3{ font-size:14px; font-weight:bolder; line-height:22px;}
.deal_info span{ font-size:12px; line-height:22px; color:#666;}



.evaluate_title{ line-height:22px; padding:10px 5px; color:#666; border-bottom:solid 1px @border_main;}
.package_choose{ padding:10px 5px;}
.package_choose span{ display:inline-block; line-height:22px;}
.info_title{ margin-right:10px; }
.choose a{ display:inline-block; border:solid 1px @border_main; height:22px; position:relative; padding:5px; margin-right:5px; margin-bottom:5px;}
.choose a i.iconfont{ position:absolute; right:-6px; bottom:-1px; font-size:22px; display:none;}

.choose a.current{ color:@main_color; border:solid 1px @main_color;}
.choose a.current i.iconfont{ display:block;}
	
.business_info {
display: -moz-box;
display: -webkit-box;
display: box;
width: 100%;
padding: 14px 10px;
border-top: 1px solid #f5f5f5;
margin-top: -1px;
}
.business_info .business_address {
-webkit-box-flex: 1;
-moz-box-flex: 1;
}
.business_address h3 {
color: #272727;
font-size: 15px;
line-height: 25px;
}
.business_address span {
color: #a3a3a3;
font-size: 13px;
line-height: 20px;
padding: 7px 0;
}
.business_info .business_phone {
width: 70px;
height: 60px;
border-left: 1px solid #f5f5f5;
color: @main_color;
line-height:60px;
padding-left:20px;
}

.business_info .business_phone .iconfont{
	font-size: 25px;
	font-weight: bold;
}


.business_display,.business_tuan_display,.business_goods_display,.business_youhui_display{
		display:none;
	}
	.business_blank,.business_tuan_blank{
	display:-webkit-box;
	}
	



/*购买须知*/
.notes_content{padding:10px;}









