.hot_search_list{
	padding:10px 13px;
	text-align:center;
	display:none;
}

.hot_search_list li{
	width:32%;
	display: inline-block;
	
}

.hot_search_list li a{
	display:block;
	margin:5px;
	border:1px solid #e0e0e0;
	text-align:center;
	border-radius:5px;
	text-align:center;
	height:28px;
	line-height:28px;
	font-size:12px;
	color:#aeaeae;
}

.criteria{
	overflow:hidden;
	padding:10px 10px 0 10px ;
}

.criteria h3{
	color:#404040;
	font-size:14px;
	line-height:24px;
	
}

.criteria ul{
	margin:10px 0;
	border-left:1px solid #e6e6e6;
	overflow:hidden;
}

.search_criteria li{
	-webkit-box-flex:1;
	text-align:center;
	line-height:42px;
	font-size:14px;
	color:#404040;
	border-right:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	background: #fff;
}
.search_criteria .this{
	background:#fc8600;
	color:#fff;
}
.search_criteria li a{
	color:#404040;
	display:block;
}

.search_criteria{
	display:-webkit-box;
}



.search_box{
	padding:10px;
	display:-webkit-box;
	background-color: #f0efed;
}

.search_box .search_bottom{
	width:54px;
	height:38px;
	border:1px solid @border_style;
	border-radius:5px;
	overflow:hidden;
	background:@main_color;
	
	
}

.search_box .search_bottom input {
width: 100%;
height: 38px;
text-align: center;
background:none;
color:@font_white;
font-weight:700;

}

.search_box .search_text{
	-webkit-box-flex:1;
	margin-right:10px;
	height:40px;
	border:1px solid #d7d7d7;
	border-radius:5px;
	background:#fff;
	display: -webkit-box;	
}

.search_box .search_text .ico{
	height:38px;
	line-height:38px;
	text-align:center;
	width:38px;
	overflow:hidden;
	color:#999;
}
.search_box .search_text .ico .iconfont{
	font-size:34px;
}


.search_box .search_text .box{
	
	-webkit-box-flex: 1;
}

.search_box .search_text .box input{
	border-radius:5px;
   background: #d7d7d7;
   border: none;
   line-height: 38px;
   width: 98%;
   background:#fff;
   height: 40px;
	padding-left:1%;
}


#lid_search_result{
background: white none repeat scroll 0 0;
    border: 1px solid #ddd;
    clear: both;
    width: 100%;


}
#lid_search_result .hear_result{
	background:#F1F3F5;
	color: black;
    font-size: 15px;
    padding: 10px 15px
}

#lid_search_result table {
    width: 100%;
}
#lid_search_result table tr{
    border-bottom: 1px solid #ddd;
    display: block;
	cursor:pointer;
}
#lid_search_result table tr:hover{
background:#F8F8F8;

}
#lid_search_result table tr td {
	padding:10px 0;
    display: inline-block;
}
#lid_search_result table tr .lid_l{
padding-left:16px;
 width: 11%;
}

#lid_search_result table tr .lid_mid{

 width: 64%;
}
#lid_search_result table tr .lid_lmid{
padding-left:16px;
 width: 76%;
line-height:22px;
}
#lid_search_result table tr .lid_r{

 width: 15%;
}
.lid_cr{color:red;}
.null_data{text-align:center;color:#959595;padding:20px 0px;}
.null_data .icon .iconfont{font-size:40px;}
.null_data .message{font-size:16px}